<html>
    <head>
        <title>login</title>
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav style="background-color: black;height: 10vh;" class="d-flex align-items-center">
            <h1 style="color: aliceblue;">Todo</h1>
          </nav>
          <form class="container justify-content-center d-flex flex-row" action="/todo" method="POST">
            <input style="height: 20vh;width: 20vw;" class="form-control mt-5" type="text" placeholder="enter task"/>
            <div class="mt-5 ml-5">
                <button class="btn btn-dark mt-5" type="submit">Add</button>
            </div>
        </form>
        <hr/>
        <div class="d-flex flex-row justify-content-between">
            <div class="col-5 justify-content-center">
                <h2 class="text-center text-danger">Ongoing</h2>
                <div class="d-flex flex-row flex-wrap">
                <%for(i=0;i<task.length;i++){%>
                    <%if(task[i].progress=="ongoing"){%>
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-header"><%=task[i].title%></div>
                        <div class="card-body"><%=task[i].todo%></div>
                        <div class="card-footer"><button class="btn btn-danger"><%=task[i].progress%></button></div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
            </div>
            <div class="col-5 justify-content-center">
                <h2 class="text-center text-success">completed</h2>
                <div class="d-flex flex-row flex-wrap">
                <%for(i=0;i<task.length;i++){%>
                    <%if(task[i].progress=="completed"){%>
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-header"><%=task[i].title%></div>
                        <div class="card-body"><%=task[i].todo%></div>
                        <div class="card-footer"><button class="btn btn-success"><%=task[i].progress%></button></div>
                    </div>
                    <%}%>
                    <%}%>
                </div>
            </div>
        </div>
    </body>
</html>